/* Atomic Design - Atoms: avatar styles */

.a-social-avatar {
    display: block;
    margin: 0 auto;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
}

.a-social-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
