.a-social-button {
    display: block;
    font-size: var(--text-base);
    font-weight: var(--fw-button);
    padding: 0.75rem 1.25rem;
    background: var(--bg-button);
    border-radius: 0.5rem;
    text-align: center;
}

.a-social-button:hover {
    background: var(--color-accent);
    cursor: pointer;
    color: var(--color-black);
}